
.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* .product-card {
    width: 540px;
  } */
  

  /* ProductDetail.css */
  .product-detail{
    width: 90%;
    margin: 0 auto;

  }
  .heading-h1{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    padding: 18px 0;
  }
  .product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 65%;
    margin:  0 auto;
    /* justify-content: space-between; */
  }

  .product-image {
    width: 80%;
    padding: 10px;
  } 
  

  .product-info {
    /* flex: 1 1; */
    padding: 10px;
    /* display: flex;
    justify-content: space-between; */

  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .product-description {
    font-size: 16px;
    margin-bottom: 10px;
  }

  
  .product-price {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0 ;
  }
  
  .add-to-cart-btn {
    padding: 10px 20px;
    font-size: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  

  @media screen and (max-width: 768px) {
    .product-card {
      width: 90%; /* Adjust width for smaller screens */
    }
    .product-detail{
      width: 100%;
    }
  
    .product-image {
      width: 100%;
    }
  
    .product-info {
      padding: 10px;
    }
  
    .product-name {
      font-size: 16px; /* Decrease font size for smaller screens */
    }
  
    .product-description {
      font-size: 14px; /* Decrease font size for smaller screens */
    }
  
    .product-price {
      font-size: 12px; /* Decrease font size for smaller screens */
    }
  
    .add-to-cart-btn {
      padding: 8px 16px; /* Adjust padding for smaller screens */
      font-size: 10px; /* Decrease font size for smaller screens */
    }
  }

  @media screen and (max-width: 768px) {
    .product-card {
      flex-direction: column;
    }
  
    .product-info {
      order: -1;
      margin-top: 20px;
    }
  
    .product-image {
      max-width: 100%;
    }
  }