
.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* .product-card {
    width: 540px;
  } */
  

  /* ProductDetail.css */
  .product-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .product-detail {
    max-width: 800px;
    width: 100%;
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product-info {
    padding: 20px;
  }
  
  .product-image-cont {
    max-width: 100%;
    overflow: hidden;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-name {
    font-size: 20px !important;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .product-description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .quanty{
    border: 1px solid black;
    padding: 0 10px;
    font-weight: 100;
  }
  hr{
    padding: 10px;
  }
  .product-price {
    font-size: 20px ;
    font-weight: 600;
    color: rgb(67, 67, 67);
  }
  .product-quantity,
  .product-brand,
  .product-category {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .add-to-cart-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  .product-stock{
    display: flex;
    justify-content: space-between;
  }
  /* Media Queries for Responsive Design */
  
  @media (min-width: 768px) {
    .product-card {
      flex-direction: row;
    }
  
    .product-info {
      flex: 1;
      padding: 20px;
    }
  
    .product-image-cont {
      max-width: 40%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .product-card {
      flex-direction: column;
    }
  
    .product-info {
      order: -1;
      margin-top: 20px;
    }
  
    .product-image {
      max-width: 100%;
    }
  }