/* Navbar.css */
body{
  font-family: sans-serif;
}
.nav-head{
  height: 60px;
}
.navbar {
  /* background: linear-gradient(to top right, #2ca2fc  0%, #6c4079 100%); */
  background-color: rgba(246, 246, 248, 0.608);;
  color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    z-index: 1;
    width: 100%;
   
}

.navbar-brand {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar-brand p {
  font-weight: bold;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-logo {
  height: 40px; /* Adjust the height as needed */
  margin-right: 10px;
  border-radius: 25px;
}

.navbar-toggler {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  /* display: none; Hide the toggler by default */
}

.navbar-toggler:focus {
  outline: none; /* Remove focus outline */
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 10px;
  /* font-weight: 600;   */
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
  color: black; /* Set text color */
}
.hambug svg{
  font-size: 22px;
}
.navbar-toggler-r{
  display: none;
}
.cart-items {

    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    background-color: #ff0000b5;
    position: absolute;
    right: 20px;
    top: 14px;
}


.nav-link:hover {
  color: #7788af; /* Change text color on hover */
  /* font-weight: 600; */
  /* transition:  1s ease; */
}

/* Media Query for Mobile Devices */




/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  transition: width 0.5s ease-in-out; /* Smooth transition effect */
  z-index: 1000; /* Ensure sidebar appears above other content */
}

.sidebar a {
  padding: 15px 20px; 
  text-decoration: none;
  font-size: 18px; 
  color: #ffffff;
  display: block;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 15px; 
  right: 5px; 
  font-size: 30px;
  cursor: pointer;
  /* color: white; */
  font-size: 14px;
}

.open {
  width: 250px;
}
.ant-menu{
  width: 230px;
  height: 100%;
}

.sidebar a {
  padding: 15px 20px; 
  text-decoration: none;
  font-size: 18px; 
  color: #ffffff;
  display: block;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 15px; 
  right: 5px; 
  font-size: 30px;
  cursor: pointer;
  /* color: white; */
  font-size: 14px;
}

.open {
  width: 250px;
}
.ant-menu{
  width: 230px;
  height: 100%;
}
.ant-menu-title-content a{
  font-size: 12px;
}
.e-block{
  display: none;
}
/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-right: auto; /* Push the brand logo to the left on smaller screens */
  }

  .navbar-toggler {
    display: block; /* Show the toggle button on smaller screens */
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  .navbar-nav {
    display: none; /* Hide the navbar items by default on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .navbar-nav.open {
    display: flex; /* Show the navbar items when navbar is open */
  }

  .nav-item {
    margin: 10px 0;
  }
  .navbar-toggler{
    display: none;
  }
  .navbar-toggler-r{
    display: block;
    position: absolute;
    right: 8px;
    top: 15px;
  }
  .d-block{
    display: none;
  }
  .e-block{
    display: block;
    position: absolute;
    right: 32px;
    top: 5px;
  }
  .e-item{
    position: absolute;
    top: -15px;
    right: -6px;
    background-color: transparent;
  }

}